# macOS-specific files
.DS_Store

# Python cache
__pycache__
*.pyc
*.pyo
.ruff_cache
.pytes_cache
.mypy_cache

# Binaries
*.so
*.pyd

# Virtual environment
venv/

# IDE JetBrains
.idea/

# environment variables
.env*
.flaskenv*
!.env.project
!.env.vault
